.ribbon-item {
	display: flex;
	color: var(--txt-col);
	font-size: 0.8em;
	align-items: center;
	box-sizing: border-box;
	border: solid 0 var(--dsb-col);
	border-right-width: 1px;
	padding: 0.4em 0.8em;

	& > .uicon {
		margin: 0 0.5em;
	}
}

.ribbon-operate {
	margin: 0 0.4em;
}
